@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}
html, body{
    height: 100%;
    width: 100%;
}

.main{
    /* height: 100%; */
    width: 100%;
}
.nav{
    display: flex;
    align-items: center;
    padding-top: 30px;
    position: fixed;
    width: 100%;
    padding-right: 30px;
    justify-content: flex-end;
}
.nav h3{
    background-color: #1E1E21;
    color: white;
    margin-left: 7px;
    font-size: 20px;
    border-radius: 50px;
    padding: 18px 28px;
}
.intro{
    /* height: 65%; */
    width: 100%;
    padding: 55px 60px;
    color: #1E1E21;
}
.intro h1{
    font-size: 136.6px;
    letter-spacing: -5.5px;
    font-weight: 600;
    line-height: 100%;
}
.place{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
.place h3{
    font-size: 27.73px;
    font-weight: 600;
    line-height: 100%;
}
.hero-img{
    height: 90vh;
    width: 100%;
    background: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-1600.webp);
    background-size: cover;
}
.about{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E1E21;
    padding: 50px 60px;
}
.about h2{
    font-size: 70px;
    letter-spacing: -2px;
    width: 60%;
    line-height: 100%;
    font-weight: 600;
}
.about-part2{
    height: 100%;
    width: 35%;
    border-left: 2px solid #1E1E21;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.about-part2 h3{
    font-size: 25px;
    padding: 0 60px;
    font-weight: 600;
}
.icons{
    font-size: 25px;
    padding: 0 60px;
}
.icons i{
    border-radius: 50%;
    border: 1px solid black;
    padding: 8px;
    background-color: #1E1E21;
    color: white;
    margin-left: 10px;
}
.work{
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    padding: 60px;
}
.work1{
    width: 35%;
    font-weight: 600;
    color: #1E1E21;
    display: flex;
    justify-content: space-between;
    border-right: 2px solid black;
    padding-right: 60px;
}
.work h3{
    font-size: 25px;
}
.work1 i{
    font-size: 30px;
}

.work2{
    width: 60%;
    padding-left: 60px;
}
.work2-part{
    display: flex;
    justify-content: space-between;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid black;
    padding-bottom: 40px;
}
.work2-part:nth-child(2){
    padding-top: 40px;
}
.elem{
    width: 55%;
}
.elem:nth-child(1){
    padding-right: 35px;
    border-right: 2px solid black;
}
.elem:nth-child(2){
    padding-left: 35px;
}
.elem h4{
    font-size: 35px;
    font-weight: 600;
    line-height: 160%;
}
.elem p{
    color: rgba(30, 30, 33, .7);
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
}